
*/*/api_key.py
__pycache/*
*.pyc
postcard/api_key.py
.DS_Store

# Ignore Mac system files
.DS_store

# Ignore all python notebook checkpoint files
.ipynb_checkpoints

# Ignore all python notebook checkpoint files
Documents/*

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache
WordEmbedding/glove.6B/glove.6B.50d.txt
WordEmbedding/glove.6B/glove.6B.300d.txt
WordEmbedding/glove.6B/glove.6B.200d.txt
WordEmbedding/glove.6B/glove.6B.100d.txt
WordEmbedding/glove_6B/glove2word2vec_model.sav
WordEmbedding/glove_6B/glove.6B.50d.txt
WordEmbedding/glove_6B/glove.6B.300d.txt
WordEmbedding/glove_6B/glove.6B.200d.txt
WordEmbedding/glove_6B/glove.6B.100d.txt
Coding/image/postcard/api_key.py
Coding/postcard/api_key.py
Coding/codeSource/api_key.py
Coding/codeSource/api_key.py
Coding/postcard/api_key.py
Coding/image/codeSource/api_key.py
Coding/codeSource/api_key.py
